@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300);
@import url(http://fonts.googleapis.com/css?family=Raleway:600,500,400,300);

body {font-family: 'Open Sans', sans-serif;}