.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 91.42857rem;
}
.row:before, .row:after {content: " "; display: table;}
.row:after {clear: both;}
.row .row {
    width: auto;
    margin-left: -1.07143rem;
    margin-right: -1.07143rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
}
.row.collapse>.column,
.row.collapse>.columns {padding-left: 0; padding-right: 0}
.row.collapse .row {margin-left: 0; margin-right: 0}
.row .row.collapse {
    width: auto;
    margin: 0;
    max-width: none
}
.column, .columns {
    position: relative;
    padding-left: 1.07143rem;
    padding-right: 1.07143rem;
    float: left;
}
[class*="column"]+[class*="column"]:last-child {float: right;}
[class*="column"]+[class*="column"].column-end {float: left;}


/* Small screens */
@media only screen {
	.all-1 {width: 6.25%;}
	.all-2 {width: 12.50%;}
	.all-3 {width: 18.75%;}
	.all-4 {width: 25.00%;}
	.all-5 {width: 31.25%;}
	.all-6 {width: 37.50%;}
	.all-7 {width: 43.75%;}
	.all-8 {width: 50%;}
	.all-9 {width: 56.25%;}
	.all-10 {width: 62.5%;}
	.all-11 {width: 68.75%;}
	.all-12 {width: 75%;}
	.all-13 {width: 81.25%;}
	.all-14 {width: 87.5%;}
	.all-15 {width: 93.75%;}
	.all-16 {width: 100%;}
} /* Define mobile styles */

@media only screen and (max-width: 40em) {
    .column.small-centered,
    .columns.small-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }
    .column.small-uncentered,
    .columns.small-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }
    .column.small-uncentered.opposite,
    .columns.small-uncentered.opposite {
        float: right
    }

	.small-1 {width: 6.25%;}
	.small-2 {width: 12.50%;}
	.small-3 {width: 18.75%;}
	.small-4 {width: 25.00%;}
	.small-5 {width: 31.25%;}
	.small-6 {width: 37.50%;}
	.small-7 {width: 43.75%;}
	.small-8 {width: 50%;}
	.small-9 {width: 56.25%;}
	.small-10 {width: 62.5%;}
	.small-11 {width: 68.75%;}
	.small-12 {width: 75%;}
	.small-13 {width: 81.25%;}
	.small-14 {width: 87.5%;}
	.small-15 {width: 93.75%;}
	.small-16 {width: 100%;}

	.hide-for-small-only {display: none !important;}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) {
	.medium-up-1 {width: 6.25%;}
	.medium-up-2 {width: 12.50%;}
	.medium-up-3 {width: 18.75%;}
	.medium-up-4 {width: 25.00%;}
	.medium-up-5 {width: 31.25%;}
	.medium-up-6 {width: 37.50%;}
	.medium-up-7 {width: 43.75%;}
	.medium-up-8 {width: 50%;}
	.medium-up-9 {width: 56.25%;}
	.medium-up-10 {width: 62.5%;}
	.medium-up-11 {width: 68.75%;}
	.medium-up-12 {width: 75%;}
	.medium-up-13 {width: 81.25%;}
	.medium-up-14 {width: 87.5%;}
	.medium-up-15 {width: 93.75%;}
	.medium-up-16 {width: 100%;}

	.hide-for-medium-up {display: none !important;}
} /* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .column.medium-centered,
    .columns.medium-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }
    .column.medium-uncentered,
    .columns.medium-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }
    .column.medium-uncentered.opposite,
    .columns.medium-uncentered.opposite {
        float: right
    }

	.medium-1 {width: 6.25%;}
	.medium-2 {width: 12.50%;}
	.medium-3 {width: 18.75%;}
	.medium-4 {width: 25.00%;}
	.medium-5 {width: 31.25%;}
	.medium-6 {width: 37.50%;}
	.medium-7 {width: 43.75%;}
	.medium-8 {width: 50%;}
	.medium-9 {width: 56.25%;}
	.medium-10 {width: 62.5%;}
	.medium-11 {width: 68.75%;}
	.medium-12 {width: 75%;}
	.medium-13 {width: 81.25%;}
	.medium-14 {width: 87.5%;}
	.medium-15 {width: 93.75%;}
	.medium-16 {width: 100%;}

	.hide-for-medium-only {display: none !important;}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) {
	.large-up-1 {width: 6.25%;}
	.large-up-2 {width: 12.50%;}
	.large-up-3 {width: 18.75%;}
	.large-up-4 {width: 25.00%;}
	.large-up-5 {width: 31.25%;}
	.large-up-6 {width: 37.50%;}
	.large-up-7 {width: 43.75%;}
	.large-up-8 {width: 50%;}
	.large-up-9 {width: 56.25%;}
	.large-up-10 {width: 62.5%;}
	.large-up-11 {width: 68.75%;}
	.large-up-12 {width: 75%;}
	.large-up-13 {width: 81.25%;}
	.large-up-14 {width: 87.5%;}
	.large-up-15 {width: 93.75%;}
	.large-up-16 {width: 100%;}

	.hide-for-large-up {display: none !important;}
} /* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    .column.large-centered,
    .columns.large-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }
    .column.large-uncentered,
    .columns.large-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }
    .column.large-uncentered.opposite,
    .columns.large-uncentered.opposite {
        float: right
    }

	.large-1 {width: 6.25%;}
	.large-2 {width: 12.50%;}
	.large-3 {width: 18.75%;}
	.large-4 {width: 25.00%;}
	.large-5 {width: 31.25%;}
	.large-6 {width: 37.50%;}
	.large-7 {width: 43.75%;}
	.large-8 {width: 50%;}
	.large-9 {width: 56.25%;}
	.large-10 {width: 62.5%;}
	.large-11 {width: 68.75%;}
	.large-12 {width: 75%;}
	.large-13 {width: 81.25%;}
	.large-14 {width: 87.5%;}
	.large-15 {width: 93.75%;}
	.large-16 {width: 100%;}

	.hide-for-large-only {display: none !important;}
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {
	.xlarge-up-1 {width: 6.25%;}
	.xlarge-up-2 {width: 12.50%;}
	.xlarge-up-3 {width: 18.75%;}
	.xlarge-up-4 {width: 25.00%;}
	.xlarge-up-5 {width: 31.25%;}
	.xlarge-up-6 {width: 37.50%;}
	.xlarge-up-7 {width: 43.75%;}
	.xlarge-up-8 {width: 50%;}
	.xlarge-up-9 {width: 56.25%;}
	.xlarge-up-10 {width: 62.5%;}
	.xlarge-up-11 {width: 68.75%;}
	.xlarge-up-12 {width: 75%;}
	.xlarge-up-13 {width: 81.25%;}
	.xlarge-up-14 {width: 87.5%;}
	.xlarge-up-15 {width: 93.75%;}
	.xlarge-up-16 {width: 100%;}

	.hide-for-xlarge-up {display: none !important;}
} /* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	.xlarge-1 {width: 6.25%;}
	.xlarge-2 {width: 12.50%;}
	.xlarge-3 {width: 18.75%;}
	.xlarge-4 {width: 25.00%;}
	.xlarge-5 {width: 31.25%;}
	.xlarge-6 {width: 37.50%;}
	.xlarge-7 {width: 43.75%;}
	.xlarge-8 {width: 50%;}
	.xlarge-9 {width: 56.25%;}
	.xlarge-10 {width: 62.5%;}
	.xlarge-11 {width: 68.75%;}
	.xlarge-12 {width: 75%;}
	.xlarge-13 {width: 81.25%;}
	.xlarge-14 {width: 87.5%;}
	.xlarge-15 {width: 93.75%;}
	.xlarge-16 {width: 100%;}

	.hide-for-xlarge-only {display: none !important;}
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
	.xxlarge-1 {width: 6.25%;}
	.xxlarge-2 {width: 12.50%;}
	.xxlarge-3 {width: 18.75%;}
	.xxlarge-4 {width: 25.00%;}
	.xxlarge-5 {width: 31.25%;}
	.xxlarge-6 {width: 37.50%;}
	.xxlarge-7 {width: 43.75%;}
	.xxlarge-8 {width: 50%;}
	.xxlarge-9 {width: 56.25%;}
	.xxlarge-10 {width: 62.5%;}
	.xxlarge-11 {width: 68.75%;}
	.xxlarge-12 {width: 75%;}
	.xxlarge-13 {width: 81.25%;}
	.xxlarge-14 {width: 87.5%;}
	.xxlarge-15 {width: 93.75%;}
	.xxlarge-16 {width: 100%;}

	.hide-for-xxlarge-only {display: none !important;}
} /* min-width 1921px, xxlarge screens */