.clearfix:before,
.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}


.is-hidden {display: none !important;}
.no-outline {outline: 0;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.align-right {left: auto !important; right: 0;}
.align-left {right: auto !important; left: 0;}

.left {float: left !important;}
.right {float: right; !important;}

.full-height {height: 100%;}
.full-height-scroll {height: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch;}
@media only screen and (max-width: 640px) {
	.full-height-small {height: 100%;}
	.full-height-scroll-small {height: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch;}
}
@media only screen and (min-width: 641px) {
	.full-height-medium-up {height: 100%;}
	.full-height-scroll-medium-up {height: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch;}
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.full-height-medium {height: 100%;}
	.full-height-scroll-medium {height: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch;}
}
@media only screen and (min-width: 1025px) {
	.full-height-large {height: 100%;}
	.full-height-scroll-large {height: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch;}
}
.break-word {word-wrap: break-word; -ms-word-wrap: break-word;}