*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {height: 100%; font-size: 14px; margin: 0; padding: 0;}

body {background: #fff;}

h1, .h1 {font-size: 24px; font-weight: 600; line-height: 1.1; margin-top: 20px; margin-bottom: 20px;}
h2, .h2 {font-size: 20px; font-weight: 600; line-height: 1.2; margin-top: 10px; margin-bottom: 10px;}
h3, .h3 {font-size: 16px; font-weight: 600; line-height: 1.2;}
h4, .h4 {font-size: 14px; font-weight: 600; line-height: 1.4;}
h5, .h5 {font-size: 14px; line-height: 1.4; margin-bottom: 5px;}
h6, .h6 {font-size: 13px;}

div {border:0px solid #ccc;}

/* header
 *********************************************************************************/
header {min-height: 60px; background:#4585CD; color: #fff;}
header .logo {height: 60px; background: #3F67A4 url(../images/refresh.svg) center no-repeat; background-size: auto 80%;}
header .menu {height: 60px; background: #3F67A4 url(../images/menu.svg) center no-repeat; background-size: auto 60%;}
header .logout a {display: block; line-height: 60px; color: #fff; text-decoration: none; background: #3F67A4; text-align: center;}
header .logout:hover a {opacity: .8;}

/* footer
 *********************************************************************************/
footer {min-height: 50px; border-top: 1px solid #EEE;}

/* all containers
 *********************************************************************************/
.main-container {height: 100%; min-height: 100%; margin-bottom: -50px; padding-bottom: 50px; padding-top: 60px; margin-top: -60px;}
.main {overflow: hidden;}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.main {margin-top: -78px; padding-top: 78px;}
}
@media only screen and (max-width: 640px) {
	.main {margin-top: -53px; padding-top: 53px;}
}

.row-search-container {height: 50px;}

.pane-container {padding-top: 50px; margin-top: -50px !important;}
@media only screen and (max-width: 640px) {
	.pane-row {width:200% !important;}
	.pane-row-active {margin-left: -50%;}
}
/* left navigation
 *********************************************************************************/
.left-nav {}
.left-nav ul,
.left-nav ul li {margin:0; padding: 0; list-style: none;}
.left-nav ul li {background: #EBEFF8; line-height: 25px; border-bottom: 1px solid #D0D4DD; border-top: 1px solid #fff;}
.left-nav ul li:hover {background: #DFE1ED;}
.left-nav ul li.active,
.left-nav ul li:focus {background: #4585CD; color: #fff;}
.left-nav ul li a {display: block; padding: 10px; text-decoration: none; color: inherit;}
.left-nav ul li:hover a,
.left-nav ul li.active a,
.left-nav ul li:focus a {border-color: #435684;}
.left-nav ul li,
.left-nav ul li a {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
@media only screen and (min-width: 1025px) {
	.left-nav ul li {margin: 20px 20px 20px 0; box-shadow: 3px 4px 10px -1px #CCC;}
	.left-nav ul li a {border-right: 5px solid transparent;}
}
@media only screen and (max-width: 1024px) {
	.left-nav ul {display: table; width: 100%;}
	.left-nav ul li {display: table-cell; text-align: center; border-top: 0;}
	.left-nav ul li span {display: block;}
	.left-nav ul li .fa {font-size: 28px; line-height: 28px;}
	.left-nav ul li a {padding: 10px 5px 6px; border-bottom: 5px solid transparent;}
}

.list-content {padding-right: 10px;}
/* empty list
 *********************************************************************************/
.empty-list {text-align: center;}
.empty-list i {display: block; font-size: 64px; margin: 20px 0;}

/* link list
 *********************************************************************************/
.link-list {border: 0px solid #E9E8ED;}
.link-list ul {margin: 0; padding: 0; list-style: none;}
.link-list ul li {margin: 0; padding: 0; list-style: none; background-color: #fff; border-bottom: 1px solid #E9E8ED; line-height: 1.4em;}

.link-list ul li:hover {background-color: #F8F9FB;}
.link-list ul li.active,
.link-list ul li:focus {background-color: #EBEFF8;}
.link-list ul li .link-brief {margin-bottom:-1px; padding: 15px; border-right: 4px solid transparent;}

.link-list ul li:hover .link-brief {border-right-color: #8FB6E1;}
.link-list ul li.active .link-brief,
.link-list ul li:focus .link-brief {border-right-color: #4585CD;}
.link-list ul li .link-title {}
.link-list ul li .link-title h4 {color:#4A4A4A; margin-top:0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;
 -webkit-line-clamp: 1;}
.link-list ul li .link-short,
.link-list ul li .link-clicks,
.link-list ul li .link-date {color:#A2A2A4;}
.link-list ul li .link-short {font-size: small;}
.link-list ul li .link-short .link-domain {}
.link-list ul li .link-short .link-slug {font-weight: 600;}
.link-list ul li .link-clicks {text-align: right; font-size: smaller;}
.link-list ul li .link-date {text-align: right; font-size: smaller;}

/* shorten url input
 *********************************************************************************/
.shorten-input-container{overflow: hidden; width: 99%; max-width: 500px; vertical-align: middle; white-space: nowrap; padding: 14px;}
.shorten-input-container input#shorten{
	width: 100%;
	height: 32px;
	background: #FFF;
	border: none;
	font-size: 9pt;
	float: left;
	color: #165E96;
	padding-left: 15px;

	opacity: .4;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:2px solid #6C90C5;

	-webkit-transition: all .55s ease;
	-moz-transition: all .55s ease;
	-ms-transition: all .55s ease;
	-o-transition: all .55s ease;
	transition: all .55s ease;
}
.shorten-input-container input#shorten::-webkit-input-placeholder {color: #65737e;}
.shorten-input-container input#shorten:-moz-placeholder { /* Firefox 18- */ color: #65737e;}
.shorten-input-container input#shorten::-moz-placeholder {  /* Firefox 19+ */ color: #65737e;}
.shorten-input-container input#shorten:-ms-input-placeholder {color: #65737e;}

.shorten-input-container input#shorten:focus,
.shorten-input-container input#shorten:active{
	background: #fefefe; border-color: #1866A2; outline: none;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(28,190,230,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(28,190,230,0.75);
	box-shadow: 1px 1px 5px 0px rgba(28,190,230,0.75);
    border-color: rgba(7,72,99, 0.75);
    background-color: #fff;
    color: #165E96;
    outline: 0;	
    opacity: 1;
}
.shorten-input-container input#shorten:focus::-webkit-input-placeholder,
.shorten-input-container input#shorten:active::-webkit-input-placeholder {color: #165E96;}
.shorten-input-container input#shorten:focus:-moz-placeholder,
.shorten-input-container input#shorten:active:-moz-placeholder { /* Firefox 18- */ color: #165E96;}
.shorten-input-container input#shorten:focus::-moz-placeholder,
.shorten-input-container input#shorten:active::-moz-placeholder {  /* Firefox 19+ */ color: #165E96;}
.shorten-input-container input#shorten:focus:-ms-input-placeholder,
.shorten-input-container input#shorten:active:-ms-input-placeholder {color: #165E96;}